<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.8.15/css/layui.css">
    <title >ll万能去水印后台管理系统-解析记录</title>
    <style>
        body {
            background-color: #f3f4f6
        }
    </style>
</head>
<body>
<div style="padding: 16px;">
    <table class="layui-hide" id="test" lay-filter="test"></table>
</div>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="deleteAllRecords">删除所有记录</button>
    </div>
</script>
<script src="https://cdn.staticfile.org/layui/2.8.15/layui.js"></script>
<script src="/static/js/parseRecords.js"></script>
</body>
</html>